extends layout

block content
  h1= title
  form(method='POST' action='/new')
    label Name  
      input(name='userName', type='text' required)
    label Message  
      textarea(name='userMessage', cols='30', rows='10' required)
    button Submit
  a(href='/') Back to messages 